In [18]:
print(0o1234567)

342391

In [19]:
7 / 2

3.5

In [20]:
0 / 5

0.0

In [37]:
income = 250_000
lowtaxland_rate = 0.05
ripoffland_rate = 0.43
print('your income is:', income, 'and you would pay:', income * lowtaxland_rate, 'for ripoffland:', income * ripoffland_rate, 
      'difference is:', income * ripoffland_rate - income * lowtaxland_rate)

your income is: 250000 and you would pay: 12500.0 for ripoffland: 107500.0 difference is: 95000.0

In [39]:
income = 40_000
salary1 = 3000
salary2 = 4000
print('your income is', income, 'monthly salary difference is', salary2 - salary1)

your income is 40000 monthly salary difference is 1000

In [46]:
login = input('enter your login:' )
language = input('you speak:' )
print('your login is:', login, 'you speak:', language)

enter your login:prav
you speak:telugu
your login is: prav you speak: telugu

In [47]:
mistery = input('give me a float number')
print(mistery)

give me a float number35
35

In [49]:
your_born_year = int(input('which year you were born:' ))
print('your date of birth is:', 2023 - your_born_year)

which year you were born:1998
your date of birth is: 25

In [51]:
hours = float(input('how many hours did you work in the last month?' ))
price = float(input('what is your hourly rate?' ))
print('last month you earned:', hours * price, 'dollars')

how many hours did you work in the last month?10
what is your hourly rate?10
last month you earned: 100.0 dollars

In [55]:
print('hello', end='')
print('world')

hello   world

In [60]:
12 >> 10

0

In [5]:
list_original = [1, 2, 3]
list_new = list_original[:2]
list_original[0] = -5
print(list_original, '\n',list_new)

[-5, 2, 3]
 [1, 2]

In [15]:
numbers = [i for i in range(1, 50) if i % 3 == 0]
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [16]:
i = 0
while True:
    i <= 10:
    i += 1
    if i % 2 == 0:
        break
    print('*')
    if i > 10:
        break

*

In [38]:
def print_letter_count(text='Helloo', letter='l'):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
        print('number of', letter, 'is', counter)
print_letter_count()

number of l is 0
number of l is 0
number of l is 1
number of l is 2
number of l is 2
number of l is 2

In [31]:
def my_function(name, mail):
     print(name +  ' Credentails')
my_function('Email')

Email Credentails